<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Largest Uttrayani Fest|UttrakhandDevBhumi</title>
    <link rel="stylesheet" href="../static/styles.css" class="rel">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="navbar">
        <div class="logo">

            <img src="https://uttarakhandtourism.gov.in/sites/default/files/2021-09/uttarakhand-logo-english.png " width="95px" height="95px" class="srcc">
        </div>
        <ul>
            <li class="item"><a href="#home">Home</a></li>
            <li class="item"><a href="#grid">Events</a></li>
            <li class="item"><a href="#client">Prize Distribution</a></li>
            <li class="item"><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    <section id="home">
        <h1 class="primary">Uttrayani Fest</h1>
        <h1 class="primary">Uttrakhand Dev Bhumi</h1>
        <h1 class="primary">Participate And Win Exciting Prizes</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, libero in eveniet aliquam quas, dolores us eveniet fugiat autem blanditiis vitae rerum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
        <p class="prim"><a href="#">Click Here To Participate</a></p>
    </section>
    <section id="grid">
       
            <h1 id="primaryh">Events Organised By Us</h1>
            <div id="ghughuti"><img src="https://madaboutcookingwithrupali.files.wordpress.com/2021/01/img_8234.jpg?w=1024" width="245px" height="256px" class="src">
                <h1 class="temple">Best Ghughutiya Challenge</h1>
                <p class="temp">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis voluptas magnam libero aliquid aliquam consequatur fugit eum dicta aut corrupti est voluptate suscipit commodi veritatis autem accusantium, necessitatibus ratione animi? Beatae dicta ipsam suscipit!</p>
            </div>
            <div id="patang"><img src="http://www.jagranjosh.com/imported/images/E/Articles/Kite-flying-on-Independence-day.jpg" width="245px" height="256px" class="src">
                <h1 class="temple">Kati Patang</h1>
                <p class="temp">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis voluptas magnam libero aliquid aliquam consequatur fugit eum dicta aut corrupti est voluptate suscipit commodi veritatis autem accusantium, necessitatibus ratione animi? Beatae dicta ipsam suscipit!</p>
            </div>
            <div id="surya"><img src="https://english.cdn.zeenews.com/sites/default/files/2022/01/13/1004953-yoga-suryanamaskar.jpg" width="245px" height="256px" class="src">
                <h1 class="temple">Surya Namaskar Selfie</h1>
                <p class="temp">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis voluptas magnam libero aliquid aliquam consequatur fugit eum dicta aut corrupti est voluptate suscipit commodi veritatis autem accusantium, necessitatibus ratione animi? Beatae dicta ipsam suscipit!</p>
            </div>
    </section>
    <section id="event">
        <div class="eve">
            <form action="/" method="post">
                <input type="text" name="name" class="in" placeholder="Enter Your Name">
                <input type="number"class="in" placeholder="Phone Number">
                <input type="email" name="email" class="in" placeholder="Email Id">
                <select name="events" class="in">
                    <option value="patang">patang</option>
                    <option value="ghughuti">ghughuti</option>
                    <option value="surya namaskar">surya namaskar</option>
                </select>
                <textarea class="in" cols="30" rows="5" placeholder="Write Any Queries"></textarea>
                <div>
                    <input type="submit" name="submit" class="in" id="submit">
                </div>
            </form>
        </div>
    </section>
    </body>
    </html>